<!-- modal -->

  <div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
 
  <div class="modal-body" *ngFor="let o of follow"><!-- -->
    <div class="author">
      <img class="avatar" src="assets\img\bj.jpg" class="rounded-circle">
      <h5 class="title">{{o.name}}Mike Andrew</h5>
      <p class="description">
        michael24
      </p>
    </div>
    <p class="description text-center">
      "Lamborghini Mercy
      <br> Your chick she so thirsty
      <br> I'm in that two seat Lambo"
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>





<!--
 
   Nome
 
 Quantidade de repositórios
 
 Quantidade de seguidores
 
 Data em que a pessoa entrou no github
 
 -->
