<div class="container-fluid">

  <div class="main-card mb-3 card">
    <div class="card-header">
      <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Usuários</div>
    </div>
    <div class="table-responsive">
      <table class="align-middle text-truncate mb-0 table table-borderless table-hover">

        <thead>
          <tr>
            <th class="text-center">Avatar</th>
            <th class="text-center">ID</th>
            <th class="text-center">Login</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let o of tabela | paginate: { itemsPerPage: contador, currentPage: paginaAtual }">
            <td class="text-center" style="width: 80px;">
              <img src="{{o.avatar_url}}" width="40" class="rounded-circle">
            </td>
            <td class="text-center text-muted" style="width: 80px;">{{o.id}}</td>
            <td class="text-center" (click)="open()"><a [routerLink]="">{{o.login}}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
    </div>
  </div>
</div>


